$desktop: 1260px; // from
$tablet: 1023px;
$mobile: 767px;
$mobile-sm: 425px;

$from_tablet: #{$tablet + 1px};
$from_mobile: #{$mobile + 1px};

@mixin --desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin --tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin --mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin --mobile-sm {
  @media (max-width: $mobile-sm) {
    @content;
  }
}

// from
@mixin --from-tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin --from-mobile {
  @media (min-width: $mobile) {
    @content;
  }
}
