$app-background: #FFFBF3;

$color-text: #2D2F33;

$color-primary: #AED57C;
$color-primary-hover: #99B94E;
$color-primary-active: #83A731;

$color-accent: #B6DEE0;
$color-accent-hover: #9BC6CF;
$color-accent-active: #6C9AA4;
