@import './breakpoints';

$header-height: 118px;
$header-height-tablet: 100px;
$header-height-mobile: 77px;

@mixin slide {
  height: calc(100vh - #{$header-height});

  @include --tablet {
    height: calc(100vh - #{$header-height-tablet});
  }

  @include --mobile {
    height: calc(100vh - #{$header-height-mobile});
  }
}
