@import "reset";
@import "colors";
@import "breakpoints";
@import "container";
@import "fonts";

body {
  background-color: $app-background;
  font-family: $font-main;
  color: $color-text;

  &.overflow-hidden {
    overflow: hidden;
  }
}
