@import "reset";
@import "colors";
@import "breakpoints";
@import "container";
@import "fonts";

body {
  background-color: $app-background;
  font-family: $font-main;
  color: $color-text;
  font-size: 16px;

  @include --mobile {
    font-size: 14px;
  }

  &.overflow-hidden {
    padding-right: 5px;
    overflow: hidden;
  }
}

* {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: $color-primary;
  }
}
